/* This is where the real beauty is! */

* {
  cursor:url(img/magnifying-glass.png), auto;
  font-family: 'DM Mono', monospace;
}
body {
background-color: #D3D3D3;
  margin: 0;
  overflow-x: hidden;
}
#scroll-y {
  position: fixed;
}

.finger-print{
  position:absolute;
  height:40vmin;
  width:20vmin;
  border:2px solid black;
  border-radius:20vmin;
  top:calc(50vh - 20vmin);
  left:calc(50vw - 10vmin);
  overflow:hidden;
}
svg{
  margin:0 -20vmin;
  height:40vmin;
  width:60vmin;
  stroke-dasharray:0;
  cursor:pointer;
}
svg:hover{
  animation: dash 2s ease-out;
}

@keyframes dash {
  0% {
    stroke-dasharray: 0;
  }
  50% {
    stroke-dasharray: 150;
  }
  100% {
    stroke-dasharray: 0;
  }
}
#fix {

  margin-bottom: -15px;
}
.flex {

  display: flex;
  align-items: center;
  justify-content: center;
}

#text, #enterName{

  font-size: 3em;
}

#hello {
font-size: 4em;
padding-right:30px;
overflow: hidden;
white-space: nowrap;
}

#data {
font-size: 4em;
color: red;
}

.heading {
  font-size: 5em;
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}

.card , .about{   
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-right: 40px;
}

.greeting, .video , .poll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  height: 100vh;
}

.poll {

  height: 700px;
}

.name {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}
span , #back {

  color: red;
}
#back {

  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
#myBtn {

  display: none;
}
input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid red;
  padding: 10px;
  width: 20%;
}

.container {

  width: 200px;
  height: 260px;
  perspective: 600px;
}



.border {

  border: 5px solid red;
  width: 70%;
  height: 70%;
}

#haneen , #dania , #logaine {

  background-color: transparent;
  text-decoration: none;
  color: red;
  border: 4px white solid;
  font-size: 4em;

  margin-top: 10px;

  cursor: pointer;

}

#solution {

  display: flex;
  justify-content: center;
  align-items: center;
}

#final {

  margin-top: 60px;
  font-size: 3em;
  color: red;

}

#time {

  margin-top: 70px;
  margin-left: 30px;
  text-decoration: underline;
}

.menu-open {
  width: 30px;
  height: 30px;
  background-color: transparent;
  margin-top: 10px;
  margin-left: 10px;
  position: fixed;

  background-image: url("img/circle.png");
  border: none;
  background-size: cover;

}